name: build-release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.bump.outputs.new_tag }}

    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Bump version and push tag
        id: bump
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: main

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.bump.outputs.new_tag }}
          generateReleaseNotes: true


  build-and-push-docker:
    needs: create-release
    uses: ./.github/workflows/push-to-registry.yml
    with:
      tag: ${{ needs.create-release.outputs.new_tag }}
    secrets: inherit

